/*------------------------------------*\
	BTN.CSS
\*------------------------------------*/
.btn{
	@include vendor(border-radius, 0px);
	position:relative;
	top:0px;
	margin-bottom:0px;

	&:active{ top:1px; }
}

.btn--positive{
	background-color:lighten($brand-color, 35%);
	border-color:darken($brand-color, 20%);
	border-width:1px;
	border-style:solid;
	color:darken($brand-color, 20%);
	@include vendor(transition, color .2s, border-color .2s, background-color .2s);

	&:hover, &:active{
		background-color:lighten($brand-color, 34%);
		border-color:darken($brand-color, 25%);
		color:darken($brand-color, 25%);
	}


}