/*------------------------------------*\
	PAGE.CSS
\*------------------------------------*/
html,body{ height:100%; min-height:100%; }

body{
	padding:0px $base-spacing-unit;

	font-family:$brand-face;

	@include media-query(lap-and-up){
		border-width:$half-spacing-unit/2;
	}
}


.page{
	$contact-bar-plus-margin-height: 		$half-spacing-unit + 38px; 			/* logo margin + btn height */
	$contact-bar-plus-margin-height--palm:	$base-spacing-unit + (38px * 2); 	/* (logo margin + btn margin) + stacked btn height */

	display:block;
	margin-top:-(($logo-height--palm + $contact-bar-plus-margin-height--palm)/2);
	margin-right:auto;
	margin-bottom:0px;
	margin-left:auto;
	position:relative;
	top:50%;
	
	@include media-query(lap-and-up){		
		margin-top:-(($logo-height--lap-and-up + $contact-bar-plus-margin-height)/2);
	}
}

	.datcomm-logo{
		@extend %sprite;
		@extend %sprite--logo;
		display:block;
		margin-top:0px;
		margin-right:auto;
		margin-bottom:$base-spacing-unit;
		margin-left:auto;

		@include media-query(lap-and-up){ margin-bottom:$half-spacing-unit; }
	}

	.contact-bar{
		display:block;
		margin:0px auto;
		max-width:$logo-width--palm;
		text-align:center;

		@include media-query(lap-and-up){ max-width:$logo-width--lap-and-up; }		
	}


		.contact-bar__link{
			@include font-size(11px);
			@include vendor(transition, color .2s);
			color:darken($brand-color, 20%);

			@include media-query(lap-and-up){
			    width:100%;
			    padding-right:0;
			    padding-left: 0;
			    text-align:center;
			}

			&:first-child{ margin-bottom:$half-spacing-unit; }
			&:hover, &:active{ color:darken($brand-color, 30%); }
		}